@font-face {
    font-family: 'Lufga';
    src: url('/fonts/LufgaRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('/fonts/LufgaBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Lufga';
    src: url('/fonts/LufgaLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}