:root {
    --bg-primary: black;
    --font-primary: white;
    --burjx-grey: #FFFFFF80;
    --burjx-green: #CDFF00;
    --burjx-red: #FF3440;
    --border-color: #FFFFFF99;
    --card-bg: #2B2B2B4D;
}