.tooltipContainer {
    position: relative;
    display: inline-flex;
    align-items: center;
    .tooltipContent {
        position: absolute;
        background-color: #D1D5DB80;
        border-radius: 2.5rem;
        padding: .5rem 1rem;
        color: #000;
        font-size: 12px;
        z-index: 1000;
        &.top {
            top: calc(-100% - 0.5rem);
            left: 50%;
            transform: translateX(-50%);
        }
        &.right {
            right: calc(-100% - 0.5rem);
            top: 50%;
            transform: translateY(-50%);
        }
        &.bottom {
            bottom: calc(-100% - 0.5rem);
            left: 50%;
            transform: translateX(-50%);
        }
        &.left {
            left: calc(-100% - 0.5rem);
            top: 50%;
            transform: translateY(-50%);
        }
    }
}